recursive-include realcugan_ncnn_vulkan_python/realcugan-ncnn-vulkan/models *
recursive-include realcugan_ncnn_vulkan_python/realcugan-ncnn-vulkan/src *
include realcugan_ncnn_vulkan_python/realcugan-ncnn-vulkan/LICENSE
include realcugan_ncnn_vulkan_python/realcugan-ncnn-vulkan/README.md
